{
    "ranges": {
        "loot": "'Loot'!A:Z",
        "permissions": "'Permissions'!A2:B",
        "options": "'Loot Options'A2:B"
    },
    "permissionsSheet": "Permissions",
    "optionsSheet": "Loot Options",
    "discordToken": "",
    "spreadsheetId": "",
    "googleCredentials": {}
}
